# Directories content
cache/class_index.php
cache/smarty/cache/*
!cache/smarty/cache/index.php
cache/smarty/compile/*
!cache/smarty/compile/index.php
cache/tcpdf/*
!cache/tcpdf/index.php

log/*.log

# img/*
!img/index.php
!img/*/index.php

tools/smarty*/cache/*.php
!tools/smarty*/cache/index.php
tools/smarty*/compile/*.php
!tools/smarty*/compile/index.php

themes/default/cache/*.js
themes/default/cache/*.css
themes/default-bootstrap/cache/*.css
themes/default-bootstrap/.sass-cache
themes/default-bootstrap/css/*.css

# Ignore files on root directory
robots.txt
sitemap.xml

themes/default-bootstrap/node_modules
.idea
.DS_Store